@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* VARIABLES */
/* || RESET */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea{
    font: inherit;
}

body.light{
    --BODY-COLOR:  hsl(209, 68%, 40%)  ;
    --BODY-BGCOLOR:whitesmoke;
    --NAV-ACTIVE: #566E3D;
    --NAV-COLOR: whitesmoke;
    --CAROUSEL-COLOR: #542E71;
    --BOX-SHADOW-COLOR: #6A66A3;
    --CARD-COLOR: whitesmoke;
    --CAROUSEL-HOVER-BGCOLOR:BLACK;
    --CAROUSEL-HOVER-COLOR: whitesmoke;
}

body.dark {
    --BODY-COLOR: #c5c5c5;
    --BODY-BGCOLOR:  #333;
    --NAV-ACTIVE: #6A66A3;
    --NAV-COLOR: whitesmoke;
    --CAROUSEL-COLOR: #6A66A3;
    --BOX-SHADOW-COLOR: #000;
    --CAROUSEL-HOVER-BGCOLOR:#000;
    --CAROUSEL-HOVER-COLOR: #f5f5f5;
}
body{
    font-family: 'Nunito', sans-serif;
    height:100%;
    background-color: var(--BODY-BGCOLOR);
    color: var(--BODY-COLOR);
}
body.dark img{
    filter: invert(100%)
}
h3{
    text-align: center;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
  }
svg{
    fill: whitesmoke;
}
.fixed {
    background-color: var(--BODY-BGCOLOR);
}
#nav1{
    background-color: var(--BODY-BGCOLOR);
    justify-content: space-around;
    padding: 0.2rem;
}
.nav-item{
    background-color: var(--BODY-BGCOLOR);
}
.nav-item a{
    color: var(--BODY-COLOR);
}
.nav-item a:hover{
    color:var(--NAV-COLOR);
    background-color: var(--NAV-ACTIVE);
}
.nav-item a:active{
    color:var(--NAV-ACTIVE);
}
.navbar-nav .nav-link.active{
    color:var(--NAV-COLOR);
    background-color: var(--NAV-ACTIVE);
}
.navbar-nav .nav-link.active:hover{
    color:var(--NAV-COLOR);
    background-color: var(--NAV-ACTIVE);
}
#myCarousel{
    box-shadow: 0 0 1rem var(--BOX-SHADOW-COLOR);
}
#myCarousel .btn-primary{
    color: var(--BODY-COLOR);
    border:var(--BODY-BGCOLOR);
    background-color: var(--BODY-BGCOLOR);
}
#myCarousel .btn-primary:hover{
    color:var(--CAROUSEL-HOVER-COLOR);
    background-color: var(--CAROUSEL-HOVER-BGCOLOR);
}
#Skills{
    background-color: var(--BODY-BGCOLOR);
    font-weight: 700;
    text-align: center;
}
nav{
    box-shadow: 0 0 1rem var(--BOX-SHADOW-COLOR) ;
}
.bd-placeholder-img rect{
    fill:var(--CAROUSEL-COLOR);
}
.carousel-caption{
    display: grid;
    justify-content: center;
}
.Skills .col{
    border: 5px double var(--BOX-SHADOW-COLOR);
    width: auto;
    max-width: 400px;
}
.Skills .row{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2ch;
}

.Skills .d-flex{
    width: 100%;
    text-align: center;
    justify-content: center;
    gap:10px
}
.d-flex svg{
    width: 30;
    height: 30;
}
.block{
    display: block;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    box-shadow: 0 0 1rem var(--BOX-SHADOW-COLOR);
}
#Projects .card:hover{
    filter:drop-shadow(0 0 0.5em var(--BOX-SHADOW-COLOR))
}
.Education{
    margin: auto;
}
.acme{
    color:var(--CARD-COLOR)
}
.Skills h3{
    text-transform: uppercase;
    color: var(--NAV-ACTIVE);
}
.coursework_a{
    padding: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
#Education h3{
    background-color: var(--BODY-BGCOLOR);
    margin: 0;
    color: var(--BODY-COLOR);
}
footer{
    border-top: solid var(--BOX-SHADOW-COLOR);
    background-color: var(--BODY-BGCOLOR);
    color: var(--BODY-COLOR);
}
#Coursework a:hover{
    text-decoration: none;
    color: var(--BODY-BGCOLOR);
    background-color: var(--BODY-COLOR);
}
#express svg{
    fill: var(--BODY-COLOR);
}
#github svg{
    fill: var(--BODY-COLOR);
}
@media (max-width: 1024px) {
    .Skills .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .Skills .row{
        width: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr;
        margin: auto;
    }
}
@media (max-width:493px){
    #nav1 .nav-link{
        padding: 1vh;
    }
}
@media (max-width: 476px) {
    .Skills .col{
        border: 5px double var(--BOX-SHADOW-COLOR);
        width: 100%;
    }
    .Skills .row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
    #nav1{
        padding: 0;
    }
    #nav1 .nav-link{
        padding: 1vh;
        font-size: 0.9rem;
    }
    .fixed{
    padding: 0;
    }
    h2{
        font-size: 2rem;
    }
    #Education h3{
        background-color: var(--BODY-BGCOLOR);
        margin: 0;
        color: var(--BODY-COLOR);
    }
}
@media (max-width: 359px){
    html{
        font-size: 0.7rem;
    }
}