@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
input,
textarea {
  font: inherit;
}
body.light {
  --BODY-COLOR: #000000;
  --BODY-BGCOLOR: #ffd166;
  --NAV-ACTIVE: #566e3d;
  --NAV-COLOR: whitesmoke;
  --CAROUSEL-COLOR: #678d58;
  --CAROUSEL-HOVER-BGCOLOR: rgb(255, 0, 0);
  --HEADER-COLOR: WHITE;
  --HEADER-BGCOLOR: #3c096c;
  --FOOTER-COLOR: #fff;
  --FOOTER-BGCOLOR: #3c096c;
  --CAROUSEL-INDICATOR: BLACK;
  --CAROUSEL-BUTTONBGCOLOR: RED;
  --DROP-SHADOW: BLACK;
  --BORDER-COLOR: #566e3d;
  --COLUMN-BGCOLOR: #24ccb8;
  --COLUMN-COLOR: #000;
  --COURSEWORK-COLOR: whitesmoke;
  --COURSEWORK-BGCOLOR: #3c096c;
  color: var(--BODY-COLOR);
  background-color: var(--BODY-BGCOLOR);
}
body.dark {
  --BODY-COLOR: whitesmoke;
  --BODY-BGCOLOR: #0b2813;
  --NAV-ACTIVE: #da0c81;
  --NAV-COLOR: white;
  --CAROUSEL-COLOR: #0b2813;
  --CAROUSEL-HOVER-BGCOLOR: blue;
  --HEADER-COLOR: #fff;
  --HEADER-BGCOLOR: #222;
  --FOOTER-COLOR: #fff;
  --FOOTER-BGCOLOR: #333;
  --CAROUSEL-INDICATOR: white;
  --CAROUSEL-BUTTONBGCOLOR: red;
  --DROP-SHADOW: #d5d5d5;
  --BORDER-COLOR: rgb(183, 101, 33);
  --COLUMN-BGCOLOR: #0b2138;
  --COLUMN-COLOR: whitesmoke;
  --COURSEWORK-COLOR: whitesmoke;
  --COURSEWORK-BGCOLOR: #0b2138;
  color: var(--BODY-COLOR);
  background-color: var(--BODY-BGCOLOR);
}
body {
  font-family: "Nunito", sans-serif;
  height: 100%;
}

/* INDEX.HTML */

/* NAVBAR */
nav,
nav .container-fluid,
header,
.nav-link {
  color: var(--HEADER-COLOR);
  background-color: var(--HEADER-BGCOLOR);
}
nav {
  border-bottom: 2px solid black;
}
.active {
  background-color: var(--NAV-ACTIVE);
  color: var(--NAV-COLOR);
}
.nav-item .nav-link.active {
  color: var(--HEADER-COLOR);
}
#navbarNavDropdown .nav-link:hover {
  background-color: var(--NAV-ACTIVE);
  color: var(--NAV-COLOR);
  transform: scale(1.1);
  transition: all 0.2s;
}
.themeButton:hover {
  transform: scale(1.2);
}
.navbar-toggler,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--HEADER-BGCOLOR);
}
.navbutton {
  margin-right: 1rem;
}
.navbutton1 {
  position: absolute;
  top: 0.7rem;
  margin-top: -0.125rem;
  border-radius: 0.25rem;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--NAV-COLOR);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.navbutton2 {
  position: absolute;
  top: 1.2rem;
  margin-top: -0.125rem;
  border-radius: 0.25rem;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--NAV-COLOR);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.navbutton3 {
  position: absolute;
  top: 1.7rem;
  margin-top: -0.125rem;
  border-radius: 0.25rem;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--NAV-COLOR);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
/* MY CAROUSEL */
#myCarousel {
  height: 95vh;
}
rect {
  fill: var(--CAROUSEL-COLOR);
}
.carousel-caption {
  top: 40%;
}
.carousel-caption .btn-primary {
  background-color: var(--CAROUSEL-BUTTONBGCOLOR);
  border: 1px solid var(--CAROUSEL-BUTTONBGCOLOR);
}
.carousel-caption .btn-primary:hover {
  background-color: var(--CAROUSEL-HOVER-BGCOLOR);
  border: 1px solid var(--CAROUSEL-HOVER-BGCOLOR);
}
.carousel-indicators button {
  background-color: var(--CAROUSEL-INDICATOR) !important;
}
/* FOOTER */
#Footer {
  background-color: var(--FOOTER-BGCOLOR);
  color: var(--FOOTER-COLOR);
  border-top: 2px solid black;
}
#Footer li:nth-child(2) a {
  text-decoration: none;
}
#Footer li:nth-child(2):hover {
  transform: scale(1.3);
}
#github li a {
  color: var(--FOOTER-COLOR);
}

/* GENERAL */
.container-fluid h2 {
  color: var(--HEADER-COLOR);
  background-color: var(--HEADER-BGCOLOR);
  text-align: center;
  font-size: 3rem;
  filter: drop-shadow(0px 0px 10px var(--DROP-SHADOW));
}
.container-fluid {
  color: var(--BODY-COLOR);
  background-color: var(--BODY-BGCOLOR);
}

/* PROJECTS.HTML */
#Projects {
  background-color: var(--BODY-BGCOLOR);
  color: var(--BODY-COLOR);
}
.acme {
  color: var(--NAV-COLOR);
}
/* SKILLS.HTML */
.container-fluid .Skills {
  margin-bottom: 100px;
}
.Skills .row {
  column-gap: 20px;
  justify-content: center;
}

.Skills .col.align-items-start {
  background-color: var(--COLUMN-BGCOLOR);
  color: var(--COLUMN-COLOR);
  border: 10px solid var(--BORDER-COLOR);
  max-width: 400px;
  min-width: 300px;
  max-height: 200px;
  min-height: 150px;
}

/* EDUCATION.HTML */
#Education .Education {
  background-color: var(--COLUMN-BGCOLOR);
  color: var(--COLUMN-COLOR);
  border: 10px solid var(--BORDER-COLOR);
  margin: auto;
}
#Education h3 {
  color: var(--COLUMN-COLOR);
}

/* COURSEWORK.HTML */
#Coursework {
  height: 95vh;
}
#hanging-icons a {
  color: var(--COURSEWORK-COLOR);
}
#hanging-icons .Coursework_a a:hover {
  display: block;
  text-decoration: none;
  transform: scale(1.1);
}
#Coursework .row {
  justify-content: center;
}
.Coursework_a {
  background-color: var(--COURSEWORK-BGCOLOR);
  color: var(--COURSEWORK-COLOR);
  border: 5px solid var(--BORDER-COLOR);
  min-height: 200px;
  max-width: 500px;
  justify-content: center;
}
.Coursework_a h3 {
  font-size: 2rem;
}
